body {
  /* background-image: url("https://images.unsplash.com/photo-1465176728568-7da7e336b1e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"); */
  background-color: #292b2c;
}

.jumbotron {
  background-color: #4B515D;
}

.btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
  }

  .stockTHStoring {
    width: 25%;
  }

  .stockTHWeight {
    width: 25%;
  }

  .currentStockButtons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  .updateBtn {
    width:50%; display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hiddenForms {
    visibility: hidden;
    position: absolute;
  }

  .buttons-stock {
    display: inline-grid;
    width: 100%;
  }

  .stock-remove-buttons {
    height: 80px;
    margin-left: 2px;
  }
/* ==== square stock buttons ======= */
  .btn-sq {
    width: 120px !important;
    height: 120px !important;
    font-size: 15px;
    margin: 5px;
  }

  .btn-sq-home {
    width: 220px !important;
    height: 220px !important;
    font-size: 45px;
    line-height: 100px;
  }

  .stockRows {
    text-align: center;
  }


  /* emoji picker */
.emoji-picker-field {
  visibility: hidden;

}

.emoji-picker-container i {
font-size: 40px;
margin-top: -3px;
}

/* ============= h elements==== */

.stock-headers {
  text-align: center;
  margin-bottom: 50px;
}

/* ========= collapsibles ========== */

.collapsible {

 
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.activeCollapsible, .collapsible:hover {

}

.contentCollapsible {

  display: none;
  overflow: hidden;

}

.table-location-title {
  text-align: center;
  font-size: 20px ;
}

/* vertical slider */
#progress-bar-div {
  text-align: center;
height: 300px;
display: flex;
align-items: center;
justify-content: center;
}


.slider-wrapper {
  display: flex;
  justify-content: center;
}


.progress {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  width:300px;
  height: 300px;
  min-width: 300px ;
  background-color: honeydew;
}

#progress-display {
  pointer-events: none;
  cursor: pointer;
}

.innerVal {
  -moz-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg);
font-size: 3vh;
}

.categoryBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 30px;
}

/* fonts */

.archivo {
  font-family: 'Archivo Black', sans-serif;
}