@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

html, body {
  overflow-x: hidden;
}

body {
  /* background-image: url("https://images.unsplash.com/photo-1465176728568-7da7e336b1e9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"); */
  background: #C9D6FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  position: relative
}

/* fonts */

.archivo {
  font-family: 'Archivo Black', sans-serif;
}

.jumbotron {
  margin-top: 100px;
  background: #E2E2E2;  
  /* background-color: black; */

}

/* tables */

tr {
  border-top: none;
}



.btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
  }

  .stockTHStoring {
    width: 25%;
  }

  .stockTHWeight {
    width: 25%;
  }

  .height100 {
    height: 100%;
  }

  .stock-buttons {
    display: flex;
  }

  .sold-or-waste-button {
    display: flex;
  }

  .opacityHighlight {
    opacity: 0.7;
  }

  .formsStock {
    flex-grow: 1;
  }


  .hiddenForms {
    visibility: hidden;
    position: absolute;
    margin: 0;
  }

  .displayNone {
    display: none;
  }

  .buttons-stock {
    display: inline-grid;
    width: 100%;
  }

  .update-button {
    height: 55px;
    font-size: 30px;
  }

  
/* ==== square stock buttons ======= */
  .btn-sq {
    width: 120px !important;
    height: 120px !important;
    font-size: 15px;
    margin: 5px;
  }

  .btn-sq-home {
    width: 220px !important;
    height: 220px !important;
    font-size: 45px;
    line-height: 100px;
  }

  .stockRows {
    text-align: center;
  }


  /* emoji picker */
.emoji-picker-field {
  visibility: hidden;

}

.emoji-picker-container i {
font-size: 40px;
margin-top: -3px;
}

/* ============= h elements==== */

.stock-headers {
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 50px; */
}

/* ========= collapsibles ========== */

.collapsible {

 
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.activeCollapsible, .collapsible:hover {

}

.contentCollapsible {

  display: none;
  overflow: hidden;
}

.table-location-title {
  text-align: center;
  font-size: 20px ;

}



/* vertical slider */
#progress-bar-div {
  text-align: center;
height: 300px;
display: flex;
align-items: center;
justify-content: center;
}


.slider-wrapper {
  display: flex;
  justify-content: center;
}


.progress {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  width:300px;
  height: 300px;
  min-width: 300px ;
  background-color: honeydew;
}

#progress-display {
  pointer-events: none;
  cursor: pointer;
}

.innerVal {
  -moz-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg);
font-size: 3vh;
}

.categoryBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 30px;
}

/* forms */
.form-container {
  width: 90%; 
  margin: 40px auto;
}



/* range slider */
input[type=range] {
  height: 34px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background-color: unset;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #5cb85c;
  border-radius: 1px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #5cb85c;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #5cb85c;
  border-radius: 1px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: unset;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 11px;
  cursor: pointer;
  animate: 0.2s;
  background: unset;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #5cb85c;
  border: 0px solid #010101;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #5cb85c;
  border: 0px solid #010101;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000031;
  border: 1px solid #00001E;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: unset;
  cursor: pointer;
}
input[type=range]:focus {
  background-color: unset;
}
input[type=range]:focus::-ms-fill-lower {
  background: #5cb85c;
  background-color: unset;
}
input[type=range]:focus::-ms-fill-upper {
  background-color: unset;
  background: #5cb85c;
}
/* drop down multi action form */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

/* ====checkboxes====== */

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}


/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* Small devices (landscape phones, 544px and up) */
@media (max-width: 544px) {  
  
  .stock-headers {font-size: 16px;}
  .stockTHstoring {font-size: 9px;}
  .container {padding: 0;}
  .jumbotron {padding: 0; margin-top: 0px}
  .table-responsive {font-size: 10px;}
  .stockTHWeight {visibility: hidden; position: absolute;}
  .categoryBtns { font-size: 16px;}
  .form-container { width: 100%; margin: 0};
 
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {  
  .stock-headers {font-size: 30px;}
  .stockTHstoring {font-size: 12px;}
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
  .stock-headers{font-size: 40px;}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  .stock-headers {font-size: 48px;}
}

/*  */