<%- include ('partials/header') %>

<body
  style="background-image: url('https://images.unsplash.com/photo-1555428450-7939abb994fb?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');">
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-1 archivo text-center text-light">iVe Stock</h1>

      <p class="lead">
        <div class="row stockRows">
          <div class="col-lg-12">
            <p>


              <a href="/stock" class="btn btn-sq btn-success btn-sq-home">
                MANAGE
                STOCK
              </a>

              <a href="/reports" class="btn btn-sq btn-info btn-sq-home">
                GET
                REPORTS
              </a>

            </p>
          </div>
        </div>

      </p>
    </div>
  </div>




  <%- include('partials/footer') %>