<%- include ('partials/header') %>


<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">WELCOME TO iVe Stock</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
      featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <div class="row stockRows">
        <div class="col-lg-12">
          <p>


            <a href="/stock" class="btn btn-sq btn-success btn-sq-home">
              MANAGE
              STOCK
            </a>

            <a href="/reports" class="btn btn-sq btn-info btn-sq-home">
              GET
              REPORTS
            </a>

          </p>
        </div>
      </div>
      <!-- <a href="/stock" class="btn btn-large btn-success btn-block">MANAGE STOCK</a>
      <a href="/reports" class="btn btn-large btn-success btn-block">REPORTS</a> -->
    </p>
  </div>
</div>




<%- include('partials/footer') %>