<%- include ('partials/header') %>

<body
  style="background-image: url('https://images.unsplash.com/photo-1555428450-7939abb994fb?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');">
  <div class="container">
    <div class="jumbotron" style=" background-color: black;">


      <p class="lead">
        <div class="row stockRows">
          <div class="col-lg-12">
            <p>


              <a href="/stock" class="btn btn-sq btn-outline-warning btn-sq-home archivo" style="font-size: 2em;">
                MANAGE
                STOCK
              </a>

              <a href="/reports" class="btn btn-sq btn-outline-primary btn-sq-home archivo" style="font-size: 2em;">
                GET
                REPORTS
              </a>

            </p>
          </div>
        </div>

      </p>
    </div>
  </div>




  <%- include('partials/footer') %>