<%- include ('partials/header') %>

<body
  style="background-image: url('https://images.unsplash.com/photo-1555428450-7939abb994fb?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');">
  <div class="container">
    <div class="jumbotron" style="background-color: black;">
      <h1 class="display-1 archivo text-center text-light">iVe Stock</h1>
      <p class="lead text-light">Easy to use stock control application dedicated for street food and small restaurants.
      </p>
      <hr class="my-4">

      <p class="lead">
        <a href="login" class="btn btn-large btn-warning btn-block">LOGIN</a>
        <a href="register" class="btn btn-large btn-success btn-block">SIGN UP</a>
      </p>
    </div>
  </div>




  <%- include('partials/footer') %>