<%- include ('../partials/header') %>


<div class="container">
    <div class="jumbotron">
        <h1 style="text-align: center;"></h1>
        <div style="width: 90%; margin: 40px auto;">


            <form action="/stock/<%=stock._id %>/stockUpdate/" method="POST">

                <h5>Container :</h5>


            </form>
            <a href="/stock">Go Back</a>

        </div>
    </div>




    <%- include('../partials/footer') %>