<%- include ('../partials/header') %>


<div class="container">
	<div class="jumbotron">
		<h1 style="text-align: center;">Add a New Stock Item</h1>
		<div style="width: 90%; margin: 40px auto;">
			<form action="/stock" method="POST">
				<h3>Name:</h3>
				<div class="form-group">
					<input class="form-control" type="text" name='name' placeholder="name">
				</div>
				<h3>Choose Category:</h3>
				<div class="form-group">
					<select class="form-control" type="text" name='category'>
						<option>Cooked</option>
						<option>Fresh</option>
						<option>Packaging</option>
					</select>
				</div>

				<div class="form-group">
					<button class="btn btn-lg btn-default btn-block btn-primary">Submit!</button>
				</div>
			</form>
			<a href="/stock">Go Back</a>

		</div>
	</div>




	<%- include('../partials/footer') %>