<%- include ('../partials/header') %>


<div class="container">
	<div class="jumbotron text-white">
		<table class="table table-borderless text-white">
			<thead>
				<tr>
					<th class="locationTable table-location-title " colspan="3">
						ADD NEW STOCK ITEM
					</th>
				</tr>
			</thead>
		</table>
		<div class="form-container">
			<form action="/stock" method="POST">

				<div class="form-row">
					<div class="col-md-6">
						<table class="table table-borderless text-white">
							<thead>
								<tr>
									<th class="locationTable table-location-title" colspan="3">
										1. Pick an Icon. It's more fun.
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>

										<p class="lead emoji-picker-container">
											<input type="text" class="form-control form-control-lg"
												placeholder="Pick an icon" name="icon" data-emojiable="true">
										</p>
									</th>
								</tr>
							</tbody>
						</table>

					</div>
					<div class="col-md-6">
						<table class="table table-borderless">
							<thead>
								<tr>
									<th class="locationTable  table-location-title text-white" colspan="3">
										2. Name it.
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>
										<div class="form-group">
											<input class="form-control form-control-lg" type="text" name='name'
												placeholder="name" required>
										</div>
									</th>
								</tr>
							</tbody>
						</table>

					</div>
				</div>


				<table class="table table-borderless">

					<thead>
						<tr>
							<th class="locationTable table-location-title text-white" colspan="3">
								3. Choose a category
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>
								<div class="form-check btn-group btn-group-toggle" data-toggle="buttons"
									style="padding-left: 0px; width: 100%;">
									<label class="btn btn-sq btn-outline-info categoryBtns">
										<input class="form-check-input" type="radio" value="Cooked" name='category'>
										COOKED
									</label>
									<label class="btn btn-sq btn-outline-success categoryBtns">
										<input class="form-check-input" type="radio" value="Fresh" name='category'>
										FRESH
									</label>
									<label class="btn btn-sq btn-outline-secondary categoryBtns">
										<input class="form-check-input categoryBtnsFont" type="radio" value="Packaging"
											name='category'>
										PACKAGING
									</label>
								</div>
							</th>
						</tr>
						<tr>
							<th>

							</th>
						</tr>
					</tbody>

					<thead>
						<tr>
							<th class="locationTable table-location-title text-white" colspan="3">
								4. How do you measure this item?
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th>
								<div class="form-check btn-group btn-group-toggle" data-toggle="buttons"
									style="padding-left: 0px; width: 100%;">
									<label class="btn btn-sq btn-outline-info categoryBtns">
										<input class="form-check-input" type="radio" value="weight" name='volumeType'>
										WEIGHT - KG
									</label>
									<label class="btn btn-sq btn-outline-success categoryBtns">
										<input class="form-check-input" type="radio" value="unit" name='volumeType'>
										NUMBER - UNITS
									</label>
								</div>
							</th>
						</tr>
						<tr>
							<th>

							</th>
						</tr>
					</tbody>


				</table>


				<hr class="my-4">
				<div class="form-group">
					<button class="btn btn-lg btn-default btn-block btn-primary">Submit!</button>
				</div>
			</form>
			<a href="/stock">Go Back</a>

		</div>
	</div>




	<%- include('../partials/footer') %>